@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

html {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.column--cards {
  margin: 10em auto;
  position: relative;
  width: clamp(1000px, 60%, 1400px);
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em 3em 0 3em;
  .card__title {
    h1 {
      color: hsl(0, 0%, 95%);
      font-size: 46px;
      font-family: 'Big Shoulders Display', sans-serif;
    }
  }
  .card__content {
    p {
      margin: 0 auto;
      font-family: 'Lexend Deca', sans-serif;
      font-size: clamp(1rem, 2vw, 1.2rem);
      color: hsla(0, 0%, 100%, 0.75);
      width: clamp(10ch, 100%, 35ch);
    }
  }
  .card__button {
    margin: 5rem 0 3rem 0;
    button {
      align-content: flex-start;
      font-family: 'Lexend Deca', sans-serif;
      height: 50px;
      border-radius: 25px;
      width: 150px;
      border: 0;
      transition: transform 300ms;
      &:hover,
      &:focus {
        cursor: pointer;
        transform: scale(1.05, 1.05);
        transition: transform 300ms;
      }
      &:active {
        color: white;
        border-width: 2px;
        border-color: white;
        border-style: solid;
        background: transparent;
      }
    }
  }
}

.sedans {
  border-radius: 10px 0 0 10px;
  background-color: hsl(31, 77%, 52%);
  button {
    color: hsl(31, 77%, 52%);
  }
}

.suvs {
  background-color: hsl(184, 100%, 22%);
  button {
    color: hsl(184, 100%, 22%);
  }
}
.luxury {
  border-radius: 0 10px 10px 0;
  background-color: hsl(179, 100%, 13%);
  button {
    color: hsl(179, 100%, 13%);
  }
}

@media (max-width: 1150px) {
  .column--cards {
    margin: 3em auto;
    width: clamp(300px, 50%, 20em);
    display: flex;
    flex-direction: column;
  }
  .card {
    text-align: Center;
    padding: 2rem 2rem 0 2rem;
  }
  .card__content {
    p {
      font-size: 16px;
    }
  }
  .card__title {
    margin: 0;
  }
  .sedans {
    border-radius: 10px 10px 0 0;
    background-color: hsl(31, 77%, 52%);
    button {
      color: hsl(31, 77%, 52%);
    }
  }
  .card__button {
    margin: 0;
  }
  .luxury {
    border-radius: 0 0 10px 10px;
    background-color: hsl(179, 100%, 13%);
    button {
      color: hsl(179, 100%, 13%);
    }
  }
}
